.container {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
    .carousel-caption {
        h3 {
            background: transparent;
            font-size: 35px;
        }
    }
    .card {
        padding: 0 !important;
        width: 50%;
        margin: 0 auto;s
        .card-body {
            h3 {
                background: transparent;
                color: black;
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
                font-weight: 500;
            }
            p {
                font-size: 13px;
            }
            a {
                padding: 0;
                background-color: #FFCA28;
                width: 100px;
                border-radius: 50%;
                h4 {
                    padding: 20px;
                    text-align: center;
                    color: white;
                    letter-spacing: 1px;
                }
            }
        }
    }
}